@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
      "SF Pro Text", "Inter", sans-serif;
  }
}
